In [13]:
import pandas as pd

In [62]:
n=open('D:/wells/初賽資料/TTS1.csv')
data = pd.read_csv(n,header=None, chunksize=4)

In [3]:
data

In [65]:
data.get_chunk(10)

,0,1,2,3,4,5
0,Y4,0,2018-01-01,09:49:04,330031,003
1,Y4,0,2018-01-01,09:58:08,330031,002
2,I4,0,2018-01-01,14:11:51,330031,
3,Y4,0,2018-01-01,14:23:32,330031,006
4,I4,0,2018-01-01,14:52:09,330031,
5,I4,0,2018-01-01,16:15:52,330031,
6,Y4,58668700100170,2018-01-01,11:06:44,100250,001
7,I3,59928400100170,2018-01-01,21:10:45,220014,
8,P5,75233300100170,2018-01-01,05:30:09,704583,
9,A3,19491400101070,2018-01-01,21:40:46,320008,65

In [63]:
b=['郵件狀態代碼',
  '掛號號碼',
  '處理日期',
  '處理時間',
  '處理局號',
  '其它']
data1 = pd.read_csv(n,header=None,names=b, chunksize=4)

In [64]:
data1.get_chunk(10)

,郵件狀態代碼,掛號號碼,處理日期,處理時間,處理局號,其它
0,I2,148640100578,2018-01-02,09:24:00,400005,
1,V2,973440100518,2018-01-02,15:58:53,400584,181
2,P4,973440100518,2018-01-02,18:09:37,400584,
3,S2,975040100518,2018-01-02,08:48:00,420043,10 306 000000
4,Z4,975040100518,2018-01-02,13:42:00,420043,4006720001
5,I2,976640100518,2018-01-02,11:17:00,220067,
6,A1,32772100100170,2018-01-02,15:40:00,800054,000000000000001463000065 900
7,Z4,32772100100170,2018-01-02,19:56:13,800672,9005820003
8,Y4,33106300100170,2018-01-02,08:29:41,220600,001
9,I4,33106300100170,2018-01-02,12:49:58,220600,